<%- include("partials/sideNav.ejs") %>

    <div class="content" style="padding: 10px">
        <div class="fingerprint">
            <img src="images/fingerprint.png" height="500" width="500" alt="">
            <h3>Please wait while we scan your Fingerprint...</h3>
        </div>
        <div style="width:100%; text-align: center; display: none " id="cont">
            <%if(documents.length > 0) {%>
            <h1>Your Medical Documents</h1>
                <div class="tile is-ancestor">
                    <%documents.forEach(e=> {%>
                    <a class="tile is-parent" href="#" style="max-width: 250px">
                        <article class="tile is-child notification is-primary">
                            <p class="title">
                                <%=e.filename%>
                            </p>
                            <p>
                                <%=e.date%>
                            </p>
                            <p>
                                <%=e.size%>
                            </p>
                            <p>
                                <%=e.fileType%>
                            </p>
                        </article>
                    </a>
                    <%})%>
                </div>
                <%} else {%>
                    <h1>No Medical Documents Found</h1>
                    <%}%>
        </div>
    </div>

    <script>
        window.onload = function () {
            setTimeout(function () {
                document.querySelector(".fingerprint").style.display = "none"
                setTimeout(function () {
                    document.querySelector("#cont").style.display = "block"
                }, 1000);
            }, 3000);
        };
    </script>