<%- include("partials/sideNav.ejs") %>
<div class="content" style="padding: 40px">
    <div style="width:100%; text-align: center;">
      <h1 style="margin-bottom: 15px; padding-bottom: 10px">Your Appointment</h1>
      <div class="columns">
        <div class="column table-header">
          <h3>Doctor</h3>
        </div>
        <div class="column table-header">
          <h3>Name</h3>
        </div>
        <div class="column table-header">
          <h3>Subject</h3>
        </div>
        <div class="column table-header">
            <h3>Time</h3>
        </div>
      </div>
      <%appointments.forEach(e => {%> 
        <form action="/appointment" method="post">
        <div class="columns">
            <div class="column">
              <img src="/images/doctor.png" height="70" width="70" alt="">
            </div>
            <div class="column">
              <%=e.doctor%>
            </div>
            <div class="column">
              <%=e.time%>
            </div>
            <div class="column">
              "<%=e.subject%>"
              <!-- <input type="text" name="doctorName" hidden value="<%=e._id%>">
              <button class="button is-primary">Choose</button> -->
            </div>
          </div>
        </form>
        <%})%>
    </div>
</div>